body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(194, 100%, 79%);
}
fieldset h3{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
fieldset{
    font-size: 40px;
}
fieldset form label{
    font-size: 18px;
}
button {
    position: relative;
    left: 32%;
    background-color: hsl(194, 100%, 79%);

}
fieldset input{
    background-color: hsl(200, 100%, 86%)
}